<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="es.unican.elsacf.proyectotus">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityInicialLogo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SeleccionNavigationDrawer"
            android:label="@string/title_activity_seleccion_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>